{% extends "orders/base.html" %}

{% block main %}
<style>
h1{color:red; font-size:45px;}
h2{color:#007bff; font-size:35px;}
h3{color:#060606; font-size:30px;}
</style>
    <h1>Project 3: Pizza Shop</h1>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center font-weight-bold">
	<br><h2 class="display-6 font-weight-bold" >This is a web application for handling a pizza restaurant’s online orders:</h2>
	<br><br><h3 class="lead font-weight-bold text-justify">Users will be able to browse the restaurant’s menu, add items to their cart, and submit their orders. Meanwhile, the restaurant owners will be able to add and update menu items, and view orders that have been placed.</h3>
</div>


{% endblock  %}
